<header class="header">
    <div class="location-container">
        <img class="location-icon" src="./src/images/location.png" alt="location icon" width="48" height="48">
        <p class="location-text">Location</p>
    </div>
    <div class="input-container">
        <img class="search-icon" src="./src/images/search.svg" alt="" width="30" height="30">
        <input class="input" type="text" id="city" placeholder="London">
        <ul class="cities">
            <li class="cities__item city-selector">Kyiv, Kyivska oblast', Ukraine</li>
            <li class="cities__item city-selector">Borispil, Kyivska oblast', Ukraine</li>
            <li class="cities__item city-selector">Brovary, Kyivska oblast', Ukraine</li>
            <li class="cities__item city-selector">Chernihiv, Kyivska oblast', Ukraine</li>
            <li class="cities__item city-selector">Lybny, Kyivska oblast', Ukraine</li>
            <li class="cities__item">Total results: 227</li>
        </ul>

</header>