.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 2px solid var(--border-color);
}

.location-container {
    display: flex;

}

.location-text {
    font-size: 16px;
    color: var(--main-tx-clr);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.input {
    width: 500px;
    min-width: 200px;
    height: 40px;
    background-color: #3d3d3d;
    padding: 4px 20px 4px 50px;
    border-radius: 50px;
    color: var(--main-tx-clr);
    font-weight: 700;
}



.input::placeholder {
    color: var(--main-green);
    font-weight: 700;
}

.cities {
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 0;
    margin: 5px 0 0;
    padding: 5px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    background-color: black;
}

.cities__item {
    margin: 0 0 4px;
    padding: 4px 10px;
    list-style-type: none;
}

.city-selector {
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

.city-selector:hover,
.city-selector:focus {
    background-color: var(--border-color);
}

.cities:nth-last-child() {
    border: none;
}