@import '../node_modules/modern-normalize/modern-normalize.css';
@import './css/header.css';
@import './css/footer.css';
@import './css/weather-preview.css';

:root {
    --main-font: 'Tektur', cursive;
    --main-bg-color: #2e2c2c;
    --border-color: #5e5e5e;
    --main-tx-clr: #ffffff;
    --main-green: #3eb83c;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #5e5e5e;
    padding: 30px;
}

p {
    margin: 0;
}

.app-container {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    width: 90vw;
    height: 80vh;
    background-color: #2e2c2c;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    transform: translate(-50%, -50%);
}